
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.ttf') format('truetype');
}


* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
}

body {
      font-family: Montserrat;
			background: url('image/vis10.jpg') no-repeat center center/cover;
			text-align: center;
			overflow-x: hidden;
			background-size: cover;
			background-position: center;
			animation: gradientShift 6s ease-in-out infinite;
			background-attachment: fixed;
}

.background {
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    filter: blur(5px);
    z-index: -10; /* Keep it behind the content but visible */
}
 


header{
    align-items: center;
    z-index: 100;
    color:#ffffff;
    position: absolute;
    top: 10px;
    max-height:200px;
    width: 100%;
    padding: 15px;
    text-shadow: 2px 2px 10px #324b4c;
    font-size: 4vh;
}

a:link
{
   color: #30404d;
   text-decoration: none;
}

a:visited
{
   color: #30404d
}

a:hover
{
   color: #30404d
}

a:active
{
   color: #30404d
}


.content {
	display: none;
}

/*----------------------------------------------------------------------------*/

.footer {
  display: flex;
  align-items: left;
  padding: 5px;
  background-color: #324b4c;
  color: #f0f0f0;
	position: fixed;
  bottom: 0;
	z-index: 1000;
	align-items: center;
	padding: 20px 20px 20px 20px;
	width: 100%;
	opacity: 0.86;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}

.footer button{
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
	text-decoration: underline;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}


/*----------------------------------------------------------------------------*/

        .slide-up-bar {
            position: fixed;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			gap: 25px;
			align-items: center;
			flex-wrap: wrap;
            bottom: -100%;
            left: 0;
            width: 100%;
            background-color: #324b4c;
            color: #f0f0f0;
            padding: 50px 0px 50px 0px;
            text-align: left;
            transition: bottom 0.3s;
			z-index: 1000;
			justify-content: space-around;
			
        }
        .slide-up-bar.show {
            bottom: 0;
			background: #324b4c;
			box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
        }
		
        .credits {
			align-items: center;
			width: 300px;
        }
		
		.credits p{
			font-weight: normal;
			font-size: 15px;
			text-transform: uppercase;	
        }
		
        .credits a:link{
			color: #f0f0f0;
			text-decoration: underline;
			font-size: 25px;
			font-weight: bold;
        }	
		
        .credits a:visited{
			color: #f0f0f0;
			text-decoration: underline;
			font-size: 30px;
        }	
		
		 .credits button{
			text-align: right;
			background: none;
			border: none;
			color: #f0f0f0;
			cursor: pointer;
			font-size: 50px;			
        }	
		
		.credits img {
			height: 50px;
			width: auto;
		}
		
/*----------------------------------------------------------------------------*/

.overlay-container {
  width: 90%;
  font-size: 20px;
  font-weight: bold;
  position: absolute; /* lub fixed jeśli chcesz, aby było zawsze na środku ekranu */
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

        /* Obraz roweru */
        .map {
            width: 100%;
            height: auto;
            display: block;
        }

        /* SVG jako nakładka */
        .svg-map {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            cursor: pointer;
            transition: transform 0.3s ease, filter 0.3s ease;
            opacity: 0.5;
        }

        /* SVG jako nakładka */
        .svg-contours {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            cursor: pointer;
            transition: transform 0.3s ease, filter 0.3s ease;
        }

    .interactive {
        cursor: pointer;
        transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

/*----------------------------------------------------------------------------*/

/* Styl dla ekranu ładowania */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 252, 253);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
}
#loading-gif {
  position: fixed;
  width: 90vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  border-radius: 50%;
}

/*----------------------------------------------------------------------------*/
svg {
    width: 100%;
    height: 100%;
}
/* SVG path styles */
path {
    cursor: pointer;
    transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

path:hover, path:focus {
    fill: rgb(255, 255, 255);
    outline: none;
}

/*----------------------------------------------------------------------------*/
/* Modal container */
#modal {
    position: fixed;
    top: 0;
    right: 10%;
    width: 40%; /* Right half of the screen */
    height: 80%; /* Full height */
    background-color: rgba(255, 255, 255, 0.9); /* White background with 0.9 opacity */
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2); /* Shadow on the left side */
    z-index: 1000;
    display: none; /* Hidden by default */
    padding: 20px;
    overflow-y: auto; /* Enable scrolling if content overflows */
    margin-top: 5%;
    text-align: left;
    border-radius: 10px;
}

/* Show the modal when active */
#modal.active {
    display: block;
}

/* Modal close button */
#close-modal {
    position: absolute;
    top: 10px;
    left: 10px; /* Close button on the left side */
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

/* Modal content */
#modal-content {
    margin-top: 50px; /* Space below the close button */
    font-family: Arial, sans-serif;
    color: #333;
}

#modal-content h3 {
    line-height: 6;
}

#modal-content p {
    line-height: 3;
}

/*----------------------------------------------------------------------------*/

/* Modal table styling */
.modal-table {
    width: 100%;
    border-collapse: collapse; /* Remove gaps between table cells */
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .modal-table td {
    padding: 8px 10px; /* Add spacing inside cells */
    vertical-align: top; /* Align text to the top */
  }
  
  